.contenedor{
    background-color: rgba(175, 175, 175, 0.774);
    display: grid;
    padding: 10px;
    gap: 10px 20px;
    grid-template-areas: 's1 s1 s1 s1'
                         's2 s3 s3 s4'
                         's5 s5 s6 s6';
}

.elemento{
    height: 50px;
    background-color: darkolivegreen;
    border-radius:1cm ;
    box-shadow: 4px 4px 4px black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e1{
    grid-area: s1;
}
.e2{
    grid-area: s2;
}
.e3{
    grid-area: s3;
}
.e4{
    grid-area: s4;
}
.e5{
    grid-area: s5;
}
.e6{
    grid-area: s6;
}