*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.fondo{
    background-color: black;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.contenedor{
    width: 80%;
    margin: auto;
    padding-top: 13px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contenedor > *{
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
}

@media(min-width:500px){
    .contenedor {
        grid-template-columns: 1fr 1fr;
    }

    audio {
        grid-column: 1 / span 2;
    }
}