*{
    font-family: Arial, Helvetica, sans-serif;
}

#form1{
    border-radius: 20px;
    border: 2px solid black;
    width: 630px;
}

#marca{
    width: 219px;
}

#mod{
    position: absolute;
    left: 350px;
    top: 110px;
}

#modelo{
    width: 227px;
}

#cod{
    position: absolute;
    left: 350px;
    top: 150px;
}

#col{
    text-align: center;
}

#des{
    position: absolute;
    left: 350px;
    top: 250px;
}

#pre{
    position: absolute;
    left: 350px;
    top: 510px;
}

#precio{
    width: 173px;
}

#equi{
    width: 248px;
}

#trans{
    position: absolute;
    left: 350px;
    top: 548px;
    width: 274px;
}

#traa{
    
}

#seg{
    position: absolute;
    left: 350px;
    top: 646px;
}

#seguro{
    width: 190px;
}